<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Change Password</title>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
    }
  </style>
  <link rel="stylesheet" href="/register.css" />
  <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="newPassword.js" nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="area">
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <section>
      <div class="form-box">
        <div class="form-value">
          <form method="POST" action="/newPassword">
            <h2>Change Password</h2>
            <div class="inputbox">
              <div class="password-container">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <% if (errorMessage) { %>
                  <div class="popup-common">
                    <div class="popup2">
                      <span class="close-button" onclick="closePopup()">×</span>
                      <%= errorMessage %>
                    </div>
                  </div>
                  <% } %>
                    <input type="password" id="currentPassword" name="currentPassword" required>
                    <label for="currentPassword">Current Password</label>
                    <span class="password-toggle" onclick="togglePasswordVisibility('currentPassword', this)">
                      <ion-icon name="eye"></ion-icon>
                    </span>
              </div>
            </div>
            <div class="inputbox">
              <div class="password-container">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <% if (errorMessage1) { %>
                  <div class="error-container">
                    <div class="popup-common">
                      <div class="popup3">
                        <span class="close-button" onclick="closePopup()">×</span>
                        <%= errorMessage1 %>
                      </div>
                    </div>
                  </div>
                  <% } %>
                    <input type="password" id="newPassword" name="newPassword" required>
                    <label for="newPassword">New Password</label>
                    <span class="password-toggle" onclick="togglePasswordVisibility('newPassword', this)">
                      <ion-icon name="eye"></ion-icon>
                    </span>
              </div>
            </div>
            <div class="inputbox">
              <div class="password-container">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" required>
                <label for="newPasswordConfirm">Confirm New Password</label>
                <span class="password-toggle" onclick="togglePasswordVisibility('newPasswordConfirm', this)">
                  <ion-icon name="eye"></ion-icon>
                </span>
              </div>
            </div>
            <button type="submit">Change</button">
          </form>
          <div id="message-container"></div>
        </div>
      </div>
    </section>
  </div>
  <script>
    function togglePasswordVisibility(inputId, toggleElement) {
      const inputElement = document.getElementById(inputId);
      const iconElement = toggleElement.querySelector('ion-icon');
      if (inputElement.type === 'password') {
        inputElement.type = 'text';
        iconElement.name = 'eye-off';
      } else {
        inputElement.type = 'password';
        iconElement.name = 'eye';
      }
    }
  </script>

  <script>
    function closePopup() {
      const popup = document.querySelector('.popup-common');
      popup.classList.add('fade');
      setTimeout(function () {
        popup.remove();
      }, 500);
    }
    setTimeout(function () {
      closePopup();
    }, 5000);
  </script>

</body>

</html>